// ==============================
// Custom style
// ==============================
//  Also You can override the variables in variable.styl to customize the style

.header-muted
  display inline
  position absolute
  right 0
  color #97aac3
  font-size .8em
  margin-top .05em

/* mobile phone and smart portable devices */

@media screen and (max-width: 479px)
  .header-muted
    position relative
    display block